<div class="row" widht="100%">
  <nb-card>
    <nb-card-header>
      Fahrrad Konfigurator
    </nb-card-header>
    <nb-card-body>
      <nb-stepper #stepper linear="true" disableStepNavigation orientation="horizontal">
        <nb-step [stepControl]="userDataForm" label="Benutzerdaten">
          <div class="form-group">
            <form #userDataForm="ngForm" (ngSubmit)="submitUserData()">
              <label for="firstName">
                Vorname:
              </label>
              <input nbInput id="firstName" type="text" required [(ngModel)]="userDataForm.firstName" name="firstName">
              <br>
              <label for="lastName">
                Nachname:
              </label>
              <input nbInput id="lastName" type="text" required [(ngModel)]="userDataForm.lastName" name="lastName">
              <br>

              <label for="email">
                E-Mail:
              </label>
              <input nbInput id="email" type="email" required [(ngModel)]="userDataForm.email" name="email">
              <button type="submit" class="btn btn-success" [disabled]="!userDataForm.form.valid">Weiter</button>
            </form>
          </div>
        </nb-step>
        <nb-step label="Lenkertyp">
          <form #lenkertypForm="ngForm" (ngSubmit)="submitLenkertyp($event)">
            <select required [(ngModel)]="lenkertypForm.lenkertyp" name="lenkertyp">
              <option *ngFor="let lt of lenkertypen" [value]="lt">{{lt}}</option>
            </select>
            <button type="submit" class="btn btn-success" [disabled]="!lenkertypForm.form.valid">Weiter</button>
          </form>
        </nb-step>
        <nb-step label="Material">
          <form #materialForm="ngForm" (ngSubmit)="submitMaterial($event)">
            <select required [(ngModel)]="materialForm.material" name="material">
              <option *ngFor="let mat of materialien" [value]="mat">{{mat}}</option>
            </select>
            <button type="submit" class="btn btn-success" [disabled]="!materialForm.form.valid">Weiter</button>
          </form>
        </nb-step>
        <nb-step label="Schaltung">
          <form #schaltungForm="ngForm" (ngSubmit)="submitSchaltung($event)">
            <select required [(ngModel)]="schaltungForm.schaltung" name="schaltung">
              <option *ngFor="let schaltung of schaltungen" [value]="schaltung">{{schaltung}}</option>
            </select>
            <button type="submit" class="btn btn-success" [disabled]="!schaltungForm.form.valid">Weiter</button>
          </form>
        </nb-step>
        <nb-step label="Griff">
          <form #griffForm="ngForm" (ngSubmit)="submitGriff($event)">
            <select required [(ngModel)]="griffForm.griff" name="griff">
              <option *ngFor="let griff of griffe" [value]="griff">{{griff}}</option>
            </select>
            <button type="submit" class="btn btn-success" [disabled]="!griffForm.form.valid">Weiter</button>
          </form>
        </nb-step>
        <nb-step label="Bestellung">
          {{finalMessage}}
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
